.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 10px 30px 10px;
  background-color: #272643;
  color: white;
  &__logo {
    display: block;
    height: 40px;
    cursor: pointer;
  }
  &__userdata {
    display: flex;
    align-items: center;
    column-gap: 20px;
    &-avatar {
      width: 40px;
      height: 40px;
      border-radius: 50%;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      -ms-border-radius: 50%;
      -o-border-radius: 50%;
    }
  }
  &__icons {
    display: flex;
    column-gap: 20px;
  }
  &__icon {
    cursor: pointer;
  }
}

@media (min-width: 992px) {
  .header {
    padding: 20px 10px 35px 10px;
     &__logo {
      height: 60px;
    }
    &__userdata {
      &-avatar {
        width: 60px;
        height: 60px;
    }
  }
}
}