.onboarding {
  &__slider {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 60%;
    margin: 20% auto 0 auto;
    height: 300%;
  }
  &__slide {
    display: flex;
    flex-direction: column;
    align-items: center;
    &-text {
      width: 50%;
      text-align: center;
      margin-top: 10px;
    }
    &-title {
      font-size: 22px;
      font-weight: 700;
      margin-top: 20px;
    }
  }
  &__dots {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 70px;
    margin: 20px auto 0 auto;
  }

  &__dot {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    background-color: #bae8e8;
    cursor: pointer;
  }

  & .active {
    width: 15px;
    height: 15px;
    background-color: #272643;
  }
  &__btn {
    display: flex;
    justify-content: center;
    column-gap: 30px;
    margin-top: 50px;
  }
}
.carousel .slide img {
  max-width: 60%;
  height: 20%;
  width: 60%;
}

.onboarding__slide {
  padding-bottom: 30px;
}

@media (min-width: 450px) {
  .onboarding {
    &__slider {
      margin-top: 10%;
    }
  }
}
