.signin {
  &__input {
    margin-top: 30px;
  }
  &__btn {
    margin-top: 40px;
    text-align: center;
  }
  &
    button.MuiButtonBase-root.MuiButton-root.MuiButton-text.MuiButton-textPrimary.MuiButton-sizeMedium.MuiButton-textSizeMedium.MuiButton-root.MuiButton-text.MuiButton-textPrimary.MuiButton-sizeMedium.MuiButton-textSizeMedium.css-1e6y48t-MuiButtonBase-root-MuiButton-root {
    width: 280px;
  }
  &__error {
    margin-top: 30px;
    text-align: center;
    color: red;
    font-weight: 600;
  }
}
@media (max-width: 992px){
  .signin {
    &__input {
      width: 100%;
    }
  }
}